<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
<style>
    html, body, pre, code, kbd, samp {
        font-family: "font-family you want to use";
    }
</style>
<ul class="nav nav-tabs mt-3">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home">Inicio (Fundamentos)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contacto">Contacto (Fundamentos)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about">Acerca de... (Fundamentos)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/posts">Posts (Fundamentos)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/fotos">Fotos (Fundamentos)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/alta-cliente">Alta Cliente</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/lista-clientes">Lista Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/agregar-album">Agregar Álbum</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/lista-albumes">Lista Álbumes</a>
    </li>
</ul>