<h3 class="mt-3 mb-4">Lista de Álbumes</h3>

<div *ngIf="!albumes.length" class="nes-table-responsive mb-4">No hay álbumes disponibles <i class="nes-pokeball"></i></div>
<div *ngIf="albumes.length" class="row row-cols-1 row-cols-md-2 g-4 mt-2 me-2">
    <div class="col" *ngFor="let album of albumes">
        <div class="card">
            <img src="{{ album.urlImagen }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ album.nombre }}</h5>
                <p class="card-text">Género: {{ album.generoAlbum }}</p>
            </div>
        </div>
    </div>
</div>